<h1>Bienvenue a Wilaya De Setif, <%= @user.name %></h1>
<p>
  Vous vous êtes inscrit avec succès à GESTIONZONE.COM,
  Votre nom d'utilisateur est: <%= @user.name %>.<br>
</p>
<p>Merci de votre participation et bonne journée!</p>
