
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      Le produit suivant presque fini dans le stock<br><br>
      <strong>*</strong>  Vous avez <strong>  </strong>  du produit : <strong>  </strong>
      <br>
    </div>
