
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      L'investisseur suivant  <br><br>
      <strong>*</strong>  Vous avez <strong>  </strong>  : <strong>  </strong>
      <br>
    </div>
