<div class="card">
  <div class="card-body">
    <div class="card-header ">
      <h1 align="center">Editing Zone Industrielle: <%= @zone_industrielle.nom_zone %></h1>
    </div>


        <div class="panel-body">

          <hr>


<%= link_to 'Show', @zone_industrielle ,class:"btn btn-success"%> |
<%= link_to 'Back', zone_industrielles_path ,class:"btn btn-warning"%>
          <hr>
          <br>




<%= render 'form', zone_industrielle: @zone_industrielle %>



        </div>
      </div>
    </div>

