<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Vous avez un nouveau message: <%= @subject %></h1>
    <p>
      Vous avez reçu un nouveau message:
    </p>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      Visite <%= link_to root_url, root_url %> et allez dans votre boîte de réception pour plus d'informations.
    </p>
  </body>
</html>
