<h1>Editing Promotion Immobiliere</h1>

<%= render 'form', promotion_immobiliere: @promotion_immobiliere %>

<%= link_to 'Show', @promotion_immobiliere %> |
<%= link_to 'Back', promotion_immobilieres_path %>
