<div class="card">
  <div class="card-body">
    <div class="card-header ">
      <h1 align="center">Editing Promotion Immobiliere: <%= @promotion_immobiliere.nom_zone %></h1>
    </div>

    <div class="panel-body">
<hr>
<%= link_to 'Show', @promotion_immobiliere ,class:"btn btn-success"%> |
<%= link_to 'Back', promotion_immobilieres_path ,class:"btn btn-warning"%>
          <hr>
          <br>

          <div class="panel panel-default">
            <div class="panel-body">


<%= render 'form', promotion_immobiliere: @promotion_immobiliere %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>