<div class="card">
  <div class="card-body">
    <div class="card-header ">
      <h1 align="center">Editing Hors Zone: <%= @hors_zone.nom_zone %></h1>
    </div>


<hr>


<%= link_to 'Fiche Technique', @hors_zone ,class:"btn btn-success"%> |
<%= link_to 'Retour', hors_zones_path,class:"btn btn-warning" %>
          <hr>
          <br>

          <div class="panel panel-default">
            <div class="panel-body">


<%= render 'form', hors_zone: @hors_zone %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>