<!--<!DOCTYPE html>
App created using the Boundless Web App Builder version 0.5-20160325-725c720ef368f428cbeeea499d86ea12765ba6bf-->
<!--WebSDK version: 9b3e2ca0fdcc48d1d41bbac8f6c457f5dec7544c
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SETIF INVEST</title>
  <%#= stylesheet_link_tag "SETIF_INVEST/resources/css/ol.css" %>
  <%#= stylesheet_link_tag "SETIF_INVEST/resources/css/components.min.css" %>
  <%#= stylesheet_link_tag "SETIF_INVEST/app.css" %>



  <script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=Intl.~locale.en"></script>
  <base target='_blank'>

</head>
<body>
<div id='main'></div>
<%#= javascript_include_tag('SETIF_INVEST/full-debug.js') %>
<%#= javascript_include_tag('SETIF_INVEST/app_prebuilt.js') %>
<%#= javascript_include_tag('SETIF_INVEST/data/lyr_zi_setif_extension.js') %>
<%#= javascript_include_tag('SETIF_INVEST/data/lyr_zi_el_eulma.js') %>
<%#= javascript_include_tag('SETIF_INVEST/data/lyr_zi_ouled_saber.js') %>
<%#= javascript_include_tag('SETIF_INVEST/data/lyr_zi_setif_ancienne.js') %>


</body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Web-Map</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,minimal-ui">
  <!-- loading the stylesheet for the application -->
  <%= stylesheet_link_tag "openlayers/style.css" %>
  <!-- loading the style fro the OpenLayers --> <!-- versions of OpenLayers can be downloaded from the OpenLayers website --><!-- this is version 2 of OpenLayers being used  -->
  <%= stylesheet_link_tag "openlayers/OpenLayers/theme/default/style.css" %>
  <!-- loading the OpenLayers javaScript file -->
  <%= javascript_include_tag('openlayers/OpenLayers.js') %>
</head>
<body>
<!-- the div holding the map -->
<div id="map">
  <!-- loading the javaScript file containing the properties of the map -->
  <%= javascript_include_tag('openlayers/web-map.js') %>
</div>
</body>
</html>




